
.avatar{
  float: left;
}
.profile{
  height: 80px;
  float: left;
  padding-left: 25px;
  width: calc(100% - 175px);
}
.avatar > img {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.level{
  float: right;
  display: flex;
  width: 95px;
  flex-direction: column;
  text-align: center;
}

.level .level-label{
  float: left;
  margin-bottom: 0px;
  transform: scaleX(1.4);
}
.level .level-number{
  top: -8px;
  position: relative;
}