.my-missions-filter{
  float: left;
  padding-bottom: 10px;
  border-bottom: 4px white dashed;
  margin-bottom: 10px;
  width: 100%;
}

.my-missions-filter-buttons{
  padding-top: 10px;
  float: right;
}

.my-missions-card{
  height: 100%;
  width: 100%;
  float: left;
}

.hide-filter{
  display: none;
}

.container-mission-buttons .btn-show-filters {
  float: left;
}

.container-mission-buttons .btn-add-mission{
  float: right;
}

