.mission-container{
  float: left;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.mission-container > button{
  height: 100%;
  margin: auto;
  display: flex;
  float: right;
}

.profile-missions .nes-badge.is-splited span:first-child {
  width: 20px !important;
  display: list-item;
  height: calc(100% + 0.9em);
}
.profile-missions .nes-badge.is-splited span:last-child {
  width: calc(100% - 20px) !important;
  text-align: left !important;
  padding-left: 20px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.profile-missions{
  float: left;
  width: 100%;
}