.icon-red::before{
  margin: 12px 8px !important
}
.dynamic-input{
  float: left;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 15px;
}

.dynamic-input i{
  width: 20px;
  float: right;
  transform: scale(1.5);
}

.condition-progress{
  width: 100%;
  float: left;
  margin-bottom: 15px;
}
.condition-progress .condition-progress-from {
  width: 48%;
  float: left;
}
.condition-progress .condition-progress-to {
  width: 48%;
  float: right;
}

.with-button{
  float: left;
  width: 100%;
  border-bottom: 4px dashed white;
  margin-bottom: 15px;
}